.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customUi {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8999;
}
